*{
    margin: 0%;
    border: 0%;
    padding: 0%;
}
nav{
    display: flex;
    align-items: center;
}
.links>ul{
    font-family: "Pixelify Sans", sans-serif;
}
.links{
    display: flex;
    justify-content: end;
}